/*Border: color: #4d4c4c Blue: color: #98d5d1; White/Grey: color: #f1f1f2; Dark Blue: color: #252c2a*/
body{
	background: url('../images/background.png') no-repeat;
}
#mapCanvas{
	height: 250px;
}
h2{
	color: #f1f1f2;
}

p, a{
	color: #98d5d1;
	margin-bottom: 0;
	font-family: 'Gotham';
}

.white{
	color: #fff;
}

.date{
	margin-left: 12px;
	    padding-top: 10px;
}

.tab-bar {
	height: 0;
}

.tab-bar, .move-right .exit-off-canvas {
	background: transparent !important;
	box-shadow: none;
}

.move-right > .inner-wrap {
  -webkit-transform: translate3d(95.5%, 0, 0);
  -moz-transform: translate3d(95.5%, 0, 0);
  -ms-transform: translate(95.5%, 0);
  -o-transform: translate3d(95.5%, 0, 0);
  transform: translate3d(95.5%, 0, 0); }
.tab-bar .menu-icon {
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
	}

.left-off-canvas-menu {
width: 96%;
background: transparent !important;
height: 768px;
position: absolute;
}
#mainClock{
	font-size: 1.875em;
	font-family: 'Gotham';
	font-weight: 100;
}

.date p{
font-family: 'Gotham';
	font-weight: 100;
	font-size: 0.75em;
	    line-height: 1;
}

#changeUser{
	margin-left: 80px;
	padding: 10px;
	float: right;
}
.change{
	font-family: 'Gotham';
	font-weight: 100;
	font-size: 0.80em;
	padding-top: 8px;

}
.userChange{
	margin-left: 20px;
}

.logo{
	display: block;
	margin: 0 auto;
	padding-top: 10px;
}
.selectUser{
	margin-left: 5px;
}
.selectUser p{
	font-family: 'Gotham';
color: #f1f1f2;
text-align: center;
padding-bottom: 10px;
}
.userhead, .profile, h2.navOption{
font-family: 'akashiregular';
color: #98d5d1;
letter-spacing: 5px;
}

.profile, h2.navOption{
	font-size: 1.3em;
	text-align: center;
	padding-top: 45px;
	height: 200px;
}

#settings{
	position: absolute;
	bottom: 5px;
	left: 5px;
}
.profPic, .navPic{
	display: block;
	margin: 0 auto;
}
.userProf, .mainNav{
	padding:50px 30px 0;
}
.userProf li, .mainNav li{
		border-left: 1px #666666 solid;
}
.userProf li:first-child, .mainNav li:first-child{
	border-left: none;
}
.mainNav li:hover,.mainNav li:active {
	background: -moz-linear-gradient(top, #98d5d1 0%, #252c2a 100%);
	background: -webkit-linear-gradient(top, #98d5d1 0%,#252c2a 100%);
	background: linear-gradient(to bottom, #98d5d1 0%,#252c2a 100%);
}
hr{
	border: solid #98d5d1 1px;
	display: block;
	margin: 0 auto;
	width: 85%;
}
.user{
	margin-top: 100px;
}

.user p {
	line-height: 4;
}
.users{
	    padding-left: 0.9375rem;
	    display: block;
	    margin: 0 auto;
}
/* MAIN */

#topClock{
	width: 100%;
	height: 45px;
	background-color: rgba(255,255,255,0.5);
	margin-left: 45px;
	padding-top: 5px;
	padding-right: 120px;
	background-color: rgba(0,0,0,0.2);
	font-size: 1.4em;
	color: #f1f1f2;
	font-family: 'Gotham';
	font-weight: 100;
}

#mainDash{
	height: 723px;
	margin-left: 45px;
}

#mainDash img{
	display: block;
	margin: 100px auto 15px;
}

#mainDash li{
	height: 100%;
	border-right: 1px solid #000;
	background: -webkit-linear-gradient(left, rgba(100,100,100,0.1), rgba(0,0,0,0.3));
	background: -o-linear-gradient(right, rgba(100,100,100,0.1), rgba(0,0,0,0.3));
	background: -moz-linear-gradient(right, rgba(100,100,100,0.1), rgba(0,0,0,0.3));
	background: linear-gradient(to right, rgba(100,100,100,0.1), rgba(0,0,0,0.3));
}

.dashInfo{
	margin: 100px 30px 0;
	padding: 25px 0 50px;
	height: 205px;
	border-top: 1px solid #98d5d1;
	border-bottom: 1px solid #98d5d1;
}

.dashInfo p {
	color: #707070;
}

.topNumber{
	color: #98d5d1 !important;
	font-size: 3em;
	letter-spacing: 5px;
}