/*Border: color: #4d4c4c Blue: color: #98d5d1; White/Grey: color: #f1f1f2; Dark Blue: color: #252c2a*/
body{
	background: url('../images/background.png') no-repeat;
}
#mapCanvas{
	height: 250px;
}
h2{
	color: #f1f1f2;
}

p, a{
	color: #98d5d1;
	margin-bottom: 0;
}

.date{
	margin-left: 12px;
	padding-top: 15px;
}

.tab-bar {
	height: 0;
}

.tab-bar, .move-right .exit-off-canvas {
	background: transparent !important;
	box-shadow: none;
}

.move-right > .inner-wrap {
  -webkit-transform: translate3d(92%, 0, 0);
  -moz-transform: translate3d(92%, 0, 0);
  -ms-transform: translate(92%, 0);
  -o-transform: translate3d(92%, 0, 0);
  transform: translate3d(92%, 0, 0); }
.tab-bar .menu-icon {
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    margin: 15px;
	}

.left-off-canvas-menu {
width: 93%;
background: transparent !important;
height: 768px;
position: absolute;
}
.menu-icon{

}
#mainClock{
	font-size: 1.875em;
	font-family: 'Gotham';
	font-weight: 100;
	padding: 10px;
}

.date p{
font-family: 'Gotham';
	font-weight: 100;
	font-size: 0.75em;
}

#changeUser{
	margin-left: 80px;
	padding: 10px;
	float: right;
}
.change{
	font-family: 'Gotham';
	font-weight: 100;
	font-size: 0.80em;
	margin-top: 16px;

}
.userChange{
	margin-top: 12px;
	margin-left: 20px;
}

.logo{
	display: block;
	margin: 0 auto;
	padding-top: 15px;
}

.selectUser{
font-family: 'akashiregular';
color: #98d5d1;
}
/* MAIN */

#topClock{
	height: 50px;
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	z-index: 1;
}